DirectoryIndex index.htm index.php
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^(.*)$ index.php/$1
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]