.client_filter {
    background: none repeat scroll 0 0 #F0F0F0;
    margin: 20px 0;
}

.client_filter select {
    width:200px;
}

.client_filter .row {
    padding: 3px 0;
}

.client_filter fieldset {
    border: medium none;
    margin: 0;
    padding: 5px 15px 10px;
}

.client_filter label {
    font: 10pt/1.4 Trebuchet MS,Arial,sans-serif;
    display: block;
}

.client_filter .disable {
    pointer-events: none;
    cursor: default;
    background:#a0a0a0;
}

.client_filter .block {
    float: left;
    margin-right: 10px;
}

.filter_sort {
}

.filter_sort ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter_sort li {
    float: left;
    margin-right: 10px;
}

.filter_sort li.first{
    color: #333333;
    font-weight: bold;
}