.client_filter {
    background: none repeat scroll 0 0 #F0F0F0;
    margin: 20px 0;
}

.client_filter .row {
    padding: 3px 0;
}

.client_filter .heading {
    background: url("../i/bg-menu.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 27px;
    overflow: hidden;
}

.client_filter .heading a {
    color: #FFFFFF;
    font-size: 17px;
    height: 27px;
    line-height: 26px;
    padding: 0 10px;
    text-decoration: none;
}

.client_filter fieldset {
    border: medium none;
    margin: 0;
    padding: 5px 15px 10px;
}

.client_filter input {
    float: left;
}

.client_filter label {
    font: 10pt/1.4 Trebuchet MS,Arial,sans-serif;
    display: block;
}

.client_filter h4 {
    font-size: 15px;
    font-weight: bold;
}

.client_filter .disable {
    pointer-events: none;
    cursor: default;
    background:#a0a0a0;
}

.client_filter .btn_send  {
    margin-left: 10px;
}